<section class="section-contact">
  <h3 id="contact">Contact</h3>
  <div class="contact-container">
    <div class="contact">
      <p class="contact-type">E-mail</p>
      <p class="contact-value">novus@gmail.com</p>
    </div>
    <div class="contact">
      <p class="contact-type">Phone</p>
      <p class="contact-value">555333232</p>
    </div>
    <div class="contact">
      <p class="contact-type">Location</p>
      <p class="contact-value">Põlva maantee 54, Põlva, Eesti</p>
    </div>
  </div>
</section>
